body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: whitesmoke;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  font-family: "Adamina";
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection{
  margin: 50px 0px 80px 0px;
  width: 400px
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

.goOption {
  margin-bottom: 40px;
  background-color: powderblue;
  border-radius: 50%;
}

.resultsSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
